@import '../../stylesheet/main.scss';

.mainSheet {
  @media screen and (min-width: $TabletWidth) {
    display: flex;
    flex-direction: row;
    width: 715px;
    gap: 32px;
  }
}

.statsSheet {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $MaxMobileWidth) {
    padding-top: 28px;
    width: 280px;
    margin: 0,
  }

  @media screen and (min-width: $TabletWidth) {
    display: flex;
    padding-top: 30px;
  }
}

.chartStyle {
  width: 395px;
  padding-bottom: 60px;
  @media screen and (max-width: $DesktopWidth) {
    width: 336px;
  }
}

.pieHeader {
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;

  @media screen and (min-width: $DesktopWidth) {
    margin-left: 30px;
  }
}

.pieStyle {
  @media screen and (max-width: $MaxMobileWidth) {
    margin-top: 10px;
    width: 280px;
    height: 280px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $TabletWidth) {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    width: 336px;
    height: 336px;
  }

  @media screen and (min-width: $DesktopWidth) {
    margin-top: 40px;
    width: 288px;
    height: 288px;
  }
}

.columnStatsStyle {
  margin: 0;
  text-align: left;
  justify-content: start;
  padding: 0.5rem;
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.6);
  height: 51px;
}

.tableStyle {
  border-spacing: 0;
  border-bottom: 1px solid #dcdcdf;
  width: 395px;
  @media screen and (max-width: $DesktopWidth) {
    width: 336px;
  }
  @media screen and (max-width: $MaxMobileWidth) {
    width: 280px;
  }
}
.tableFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
  @media screen and (max-width: $MaxMobileWidth) {
    align-items: stretch;
  }
}
.columnFooterStatsStyle {
  display: flex;

  justify-content: space-between;
  width: 395px;
  border-bottom: none;
  box-shadow: none;
  padding-left: 15px;
  font-family: Circe;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;

  @media screen and (max-width: $MaxMobileWidth) {
    width: 280px;
  }
  @media screen and (max-width: $DesktopWidth) {
    max-width: 336px;
  }
}

.tableFooterCash {
  color: var(--accent-green);
  padding-right: 20px;

  @media screen and (max-width: $MaxMobileWidth) {
    padding-right: 10px;
  }
}

.tableFooterCashBad {
  color: var(--accent-red);
  padding-right: 20px;

  @media screen and (max-width: $MaxMobileWidth) {
    padding-right: 10px;
  }
}

.trStatsStyle .columnStatsStyle:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: left;
  padding-left: 15px;
}

.trStatsStyle .columnStatsStyle:last-child {
  padding-right: 20px;
}

.columnStatsStyle {
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: right;

  @media screen and (min-width: $TabletWidth) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: $DesktopWidth) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.rectangle {
  float: left;
  margin-right: 16px;
  margin-left: 20px;
}

.columnStatsStyle:nth-child(even) span {
  display: none;
}

.tableHeaderStyle {
  display: flex;
  align-items: center;
  height: 58px;
  background-color: var(--white);
  font-family: Circe;
  font-weight: 700;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 0px 20px 0px 20px;

  @media screen and (max-width: $MaxMobileWidth) {
    margin-top: 10px;
    margin-bottom: 14px;
    width: 280px;
  }
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableHeader:last-child {
  width: 100%;
  justify-self: right;
}

.tableFooter {
  height: 39px;
}

.dateFilter {
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width: $MaxMobileWidth) {
    display: block;
  }
}

.table {
  @media screen and (min-width: $TabletWidth) {
    width: 350px;
    margin-top: 35px;
    margin-left: 18px;
  }

  @media screen and (min-width: $DesktopWidth) {
    margin-left: 40px;
    margin-top: 95px;
  }
}

.dateInput {
  display: block;
  width: 166px;
  height: 50px;
  border: 1px solid var(--primary-text-color);
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
  font-family: Circe;
  padding-left: 21px;
  margin-bottom: 20px;
  margin-right: 19px;
  cursor: pointer;

  @media screen and (max-width: $MaxMobileWidth) {
    width: 280px;
  }
}

.dateInput:hover,
.dateInput:focus {
  border: 1px solid #24cca7;
}

.dateInput::placeholder {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-text-color);
}

.react-datepicker-wrapper:last-child {
  margin-right: 0px;
}

.dateInput:last-child {
  margin-right: 0px;
}

.arrow {
  background-image: url(../../images/svg/arrow.svg);
  display: block;
  content: '';
  contain: content;
  background-position: 90% 50%;
  background-repeat: no-repeat;
}
