:root {
  --white: #fff;
  --secondary-background-color: #e7eaf2;
  --accent-green: #24cca7;
  --accent-red: #ff6596;
  --accent-blue: #4a56e2;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --disabled-text: #e0e0e0;
  --error-text: #ff001b;
  --placeholder-text: #bdbdbd;
}
