.strengthBar,
.strengthBarWeek,
.strengthBarModerate,
.strengthBarStrong {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #e5f1ef;
  border-radius: 6px;
  margin-bottom: 20px;
}

.strengthBarWeek {
  background-color: #ff6596;
  width: 25%;
}

.strengthBarModerate {
  background-color: #fcff65;
  width: 50%;
}

.strengthBarStrong {
  background-color: #24cca7;
  width: 100%;
}
