.strengthBar {
  width: 100%;
  height: 5px;
  background-color: #e5f1ef;
  border-radius: 6px;
}

.strengthBarWeek {
  background-color: #24cca7;
  width: 25%;
  height: 5px;
  border-radius: 6px;
}

.strengthBarModerate {
  background-color: #24cca7;
  width: 50%;
  height: 5px;
  border-radius: 6px;
}

.strengthBarStrong {
  background-color: #24cca7;
  width: 100%;
  height: 5px;
  border-radius: 6px;
}
