:root {
  --white: #ffffff;
  --secondary-text-color: #fff;

  --accent-red: #ff6596;
  --pink-dark: #ff6596;

  --accent-blue: #4a56e2;
  --purple-dark: #4a56e2;

  --black: #000000;
  --primary-text-color: #000;

  --disabled-text: #e0e0e0;
  --gray-text-modal: #e0e0e0;

  --placeholder-text: #bdbdbd;
  --gray-text-header: #bdbdbd;

  --gray-background: #e7eaf2;
  --secondary-background-color: #e7eaf2;

  --green-light: #24cca7;
  --accent-green: #24cca7;

  --color-transaction-border: #dcdcdf;
  --gray-divider-horizontal: #dcdcdf;

  --transactions-line: #e7e5f2;
  --gray-divider-vertical: #e7e5f2;

  --error-text: #ff001b;

  --gray-text-balance: #a6a6a6;

  --gray-progress-line: #e5f1ef;

  --purple-light: #6e78e8;

  --purple-lightest: #c5baff;

  --green-dark: #00ad84;

  --pink-light: #fd9498;

  --pink-lightest: #ffd8d0;

  --blue: #81e1ff;

  --yellow: #fed057;
}
